@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --nav-items-color: #28326f;
  --error: #fa7383;
}

.bg-contact {
  background: rgba(255, 255, 255, 0.1) !important;
  backdrop-filter: blur(10px) !important;
  -webkit-backdrop-filter: blur(10px) !important;
}

.bg-contactDemo {
  background: rgba(255, 255, 255, 0.1) !important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
